<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/css/styles.css">
  <title>musCloud</title>
  

</head>
  <%- include('partials/header')%>

<body>



 <div class="cred">  
  <a href="/login"><button class="log-btn">login</button> </a>
  <a href="/register"><button class="reg-btn"> register</button></a>
 
</div>


</body>
</html>








